*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./Assets/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
  
}

.container {
    border-radius: 10px;
    background: rgb(221,166,188);
    background: linear-gradient(0deg, rgba(221,166,188,1) 0%, rgba(222,171,177,1) 40%, rgba(224,178,158,1) 61%);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(174, 32, 89) ;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.8rem;
    color: rgb(174, 32, 89) ;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;



}


th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #2a0808;
}

th {
    background-color: rgb(221,166,188);
    color: white;
    font-weight: bold;
}

td {
    background-color: #ECF0F1;
}


.actions{
    display: flex;
     justify-content: space-evenly;
 } 
.actions a {
    color: #2980B9;
    margin-right: 15px;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 30px;


}

footer a {
    margin: 10px 20px;
    color: #fff;
    background-color: rgb(221,166,188);
    color: white;
    
    font-size: 1.1rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 15px;
    background-color: #2980B9;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #3498DB;
}

tr:hover {
    background-color: #BDC3C7;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    table, th, td {
        font-size: 1rem;
    }

    footer a {
        font-size: 1rem;
    }
}






