body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Assets/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  .login-container {
    background: rgb(221,166,188);
    background: linear-gradient(0deg, rgba(221,166,188,1) 0%, rgba(222,171,177,1) 40%, rgba(224,178,158,1) 61%);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  } 
  
h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: white;
}

form {
  text-align: left;
}

label {
  width: 30%;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  color: white;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  margin-left: 10em;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #0a386a;
}

p {
  margin-top: 20px;
  color: #fcfbfb;

}

.error {
  color: red;
  margin-bottom: 15px;
} 

form input:focus {
  outline: none;
  border-color: #007bff;
}

p a {
  font-size: larger;
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
} 

    
    